name: Publish NuGet Package 📦
on:
  release:
    types: [published]

workflow_dispatch:
    inputs:
      package_version:
        description: 'Phiên bản gói NuGet (Ví dụ: 1.0.1)'
        required: false
        default: ''

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x' 

      - name: Restore dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Create the NuGet package
        run: dotnet pack --configuration Release --no-build --output nuget_packages -p:PackageVersion=${{ github.event.release.tag_name }}
        
      - name: Publish to NuGet.org
        run: dotnet nuget push nuget_packages/*.nupkg --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json